__MACOSX/project2/._.DS_Store
__MACOSX/project2/._dcache_one_way_example
__MACOSX/project2/._project 2.pdf
__MACOSX/project2/dcache_one_way_example/._instruction.txt
__MACOSX/project2/dcache_one_way_example/._ input and output reference file
__MACOSX/project2/dcache_one_way_example/._output.txt
__MACOSX/project2/dcache_one_way_example/input and output reference file/._instruction.txt
project2/.DS_Store
*.txt
project2/project 2.pdf